#landing_logo {
  #inside {
    transition: 0.3s ease;
    transform-origin: center;
    &:hover {
      transform: rotate(80deg);
    }
  }
  #outside {
    transition: 0.3s;
    transform-origin: center;
    // animation: rolling 20s linear infinite;
  }
}
