$font-color: #cd983f;
$base-color: #fbfafb;
@font-face {
  font-family: SukhumvitSet;
  src: url("SukhumvitSet-Medium-04.ttf") format("truetype");
}
@font-face {
  font-family: LibreBaskerville;
  src: url("LibreBaskerville-Regular.ttf") format("truetype");
}
@font-face {
  font-family: SukhumvitSetLight;
  src: url("SukhumvitSet-Light-02.ttf") format("truetype");
}
// font-family: 'Roboto', sans-serif;
// font-family: 'Prompt', sans-serif;
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
:root {
  color: $font-color;
  // background: #f7f1eb;
}
a {
  text-decoration: none;
}
.f-light {
  font-family: "SukhumvitSetLight", sans-serif;
  font-weight: lighter !important;
}
#my-scrollbar {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

body {
  font-family: "SukhumvitSet", sans-serif;
  font-weight: normal;
  font-size: 1.8em;
  background: $base-color;
}
.allwhite {
  background: white;
}
.eng {
  font-family: "LibreBaskerville" !important;
}
.eng-light {
  font-weight: lighter;
}
.thai {
  font-family: "SukhumvitSet", sans-serif;
}
#hand-w {
  font-size: 2.5rem;
  background: rgba(239, 202, 165, 0.14);
  .header {
    font-size: 2em;
    margin: 3rem;
  }
}
.shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@keyframes wiggle {
  20% {
    box-shadow: inset -5px 0 5px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(7deg);
  }

  40% {
    box-shadow: inset -11px 0 5px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(-14deg);
  }

  60% {
    box-shadow: inset -5px 0 5px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(4deg);
  }

  80% {
    box-shadow: inset -8px 0 5px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(-2deg);
  }

  100% {
    box-shadow: inset -7px 0 5px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(0deg);
  }
}
@keyframes anti-wiggle {
  20% {
    transform: translateX(4px) rotate(-7deg);
  }

  40% {
    transform: translateX(-8px) rotate(14deg);
  }

  60% {
    transform: translateX(2px) rotate(-4deg);
  }

  80% {
    transform: translateX(-1px) rotate(2deg);
  }

  100% {
    transform: translateX(0px) rotate(0deg);
  }
}

.popup-content {
  padding: 0 !important;
  border: none !important;
}
.page-wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#contract {
  height: 100vh;
  overflow-y: auto;
  font-family: "LibreBaskerville";
  font-size: 1.5rem;
  background: $base-color;
  .wrapper {
    padding-top: 5%;
    height: 17vh;
    width: 100%;
    background: rgba(197, 158, 110, 0.1);
    display: flex;
    justify-content: center;
    div {
      padding: 1rem 2rem 0 2rem;
      width: 40%;
    }
  }
}

.text-contain {
  margin-top: 10%;
}

.highlight {
  // background-color: #ffbab5;
}

@keyframes rolling {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.logo-wrapper {
  padding-bottom: 5%;
  margin-top: 5%;
  .logo {
    width: 8%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0%;
    z-index: 1;
    transition: 0.3s ease-out;
    -webkit-filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    &:hover {
      transform: rotate(180deg);
    }
  }
  .ring {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0%;
    bottom: 0;
    right: 0;
    z-index: -1;
    animation: rolling 15s linear infinite;
  }
}

// form
.form {
  padding: 4% 14%;
  p {
    padding: 0;
    margin: 0;
    margin-bottom: 1.5rem;
    text-align: left;
  }
}
.form-control {
  width: 40rem;
  input[type="text"] {
    margin-top: 1rem;
    padding: 2rem 0;
    font-size: 2rem;
  }
}
label {
  float: left;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  //   background: white;
  border: 1px $font-color solid;
  border-radius: 0.5rem;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 1rem 0;
  width: 100%;
  background-color: transparent;
  color: $font-color;
  font-family: "LibreBaskerville";
  // box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
  text-align: center;
}
::placeholder {
  opacity: 0.3;
  font-family: "LibreBaskerville";
}
.send-contract {
  padding: 1.5rem 2rem;
  color: #fff;
  background-color: $font-color;
  border-color: transparent;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 1.5rem;
  width: 40%;
  border: 1px $font-color solid;
  transition: 0.3s;
  // border-width: 1px 1px 3px;
  // box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
  cursor: pointer;
  &:hover {
    background: transparent;
    color: $font-color;
  }
}

.sub-logo {
  align-self: flex-end;
  transform-origin: 50% 50%;
  transition: 0.5s ease-out;
  cursor: pointer;
  &:hover {
    transform: rotate(180deg);
  }
}

#home {
  // margin-top: 5rem;
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  .highlight {
    font-size: 6rem;
  }
  h2 {
    font-size: 3rem;
  }
}
.frame {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
.main-logo {
  // transition: 0.3s ease;
  margin-top: 40%;
  align-self: flex-end;
  #mainLogo {
    transition: 0.3s ease;
    transform-origin: center;
    &:hover {
      transform: scale(1.1);
    }
  }
  #text-circle {
    animation: rolling 10s infinite linear;
    transform-origin: center;
  }
}
.video-container {
  width: 100vw;
  height: 100vh;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  z-index: -3;
  top: 50%;
  left: 50%;
  overflow: hidden;
  background: transparent;

  .myVideo {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  .myVideo2 {
    max-width: 100%;
  }
  #handLoop {
    visibility: hidden;
  }
}
.box-transition {
  position: absolute;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  background: #cd983f;
  // transition: 0.3s;
  opacity: 0;
}
.txt-wrapper {
  width: 60%;
  margin: auto;
}

// btn zone
.btn {
  width: 8rem;
  padding: 1.3rem 3rem;
  background: transparent;
  border: 1px $font-color solid;
  color: $font-color;
  transition: 0.3s ease;
  margin: 0 2rem;
  cursor: pointer;
  &:hover {
    border-radius: 1rem;
  }
}
.btn-long {
  padding: 1.3rem 3rem;
  background: $font-color;
  border: 1px $font-color solid;
  color: white;
  border-radius: 1rem;
  transition: 0.3s ease;
  margin: 0 2rem;
  cursor: pointer;
  &:hover {
    background: transparent;
    color: $font-color;
  }
}
.btn-active {
  background: $font-color;
  color: white;
  border: 1px transparent solid;
  border-radius: 1rem;
}
.btn-border {
  // width: 10rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  // background: white;
  color: $font-color;
  // border: 1px $font-color solid;
  border-radius: 1rem;
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}
.btn-wrapper-row {
  margin: 4rem 0;
  display: flex;
  justify-content: center;
}
.scrollmagic-pin-spacer {
  overflow: hidden !important;
  height: 100vh;
}

.flex-wrapper {
  height: 100vw;
  padding: 0 15%;
  top: 0 !important;
  display: flex;
  justify-content: center;
  overflow: hidden;
  #cardNo1 {
    background: url("../assets/card1.png") round;
    background-size: contain;
  }
  #cardNo2 {
    background: url("../assets/card2.png") round;
    background-size: contain;
  }
  #cardNo3 {
    background: url("../assets/card3.png") round;
    background-size: contain;
  }
  #cardNo4 {
    background: url("../assets/card4.png") round;
    background-size: contain;
  }
  .setpoint {
    transform-origin: center;
  }
  .card-bg {
    // opacity: 0;
    width: 33.33%;
    margin: 0 1rem;
    background-repeat: space;
    will-change: tranform;
    // transition: .3s;
    transform-origin: 50% 25% 0;
    // transition-duration: 1s;
    height: 1000vh;
  }
  .card-bg:nth-child(odd) {
    // transform-origin: top;

    transform: translateX(0) translateY(-3000px) translateZ(0);
  }
  .card-bg:nth-child(even) {
    // transform-origin: top;
    transform: translateX(0) translateY(-500px) translateZ(0);
  }
}
#card-page-wrap {
  height: 400vh;
  overflow: hidden;
  transform-origin: center;
  background: #f7f1eb;
  // transform: scale(1.1);
}
.btn-wrapper {
  width: 100vw;
  // height: 100vh;
  position: absolute;
  z-index: 4;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  top: 0;
  #card-btn {
    // top: 50%;
    // left: 50%;
    // position: fixed;
    // // background: white;
    // border-radius: 1rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#handscan {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: rgba(239, 202, 165, 0.35);
  height: 100vh;
}

.overlay-bg {
  position: absolute;
  // right: 0;
  transform: translateY(1%);
  // bottom: 10%;
  // left: 0;
  #main_x5F_hand {
    // opacity: 0;
    stroke-dasharray: 2457.107421875;
    stroke-dashoffset: 2457.107421875;
  }
}

.overlay {
  position: absolute;
  // right: 0;
  bottom: 4%;
  // left: 0;
  // color: ;
  text-align: center;
  .txt {
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }
  .number {
    color: white;
  }
  svg {
    cursor: pointer;
  }
  img {
    // transform: scaleX(-1);
    // opacity: 0.4;
    cursor: pointer;
    z-index: 2;
  }
}
.croper {
  width: 500px;
  height: 736px;
  overflow: hidden;
  video {
    transform: translateX(-25%) scaleX(-1) !important ;
  }
}

#forcast {
  background: #cd983f;
  width: 100vw;
  height: 100vh;
  color: white;
  overflow: hidden;
  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    height: 100vh;
    h1 {
      font-size: 3.4em;
      font-weight: normal;
      margin-bottom: 0.5em;
      margin-top: 2em;
    }
    .sub-logo {
      bottom: 0;
      align-self: flex-end;
    }
  }
  .frame {
    img {
      position: absolute;
      width: 100%;
      z-index: -2;
    }
    svg {
      z-index: -2;
      position: absolute;
    }
  }
}

#cardflip {
  .btn {
    position: absolute;
    bottom: 10%;
  }
  .flip-card-wrapper {
    margin-top: 10%;
    opacity: 0;
    transform: translateY(20px);
  }
  .btn-wrapper {
    display: flex;
    justify-content: center;
    bottom: 8%;
    margin-left: auto;
    margin-right: auto;
    top: unset;
    opacity: 0;
    .btn {
      position: unset;
      width: unset;
      cursor: unset;
      pointer-events: none;
      border-radius: 10px;
      background: #cd983f;
      color: white;
      padding: 1em 2em;
      font-size: 1.5rem;
    }
  }
}
.flip-card {
  background-color: transparent;
  cursor: pointer;
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s ease-out;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    svg {
      width: 20%;
    }
  }
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-front {
    color: black;
  }

  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
  }
}
.flip {
  transform: rotateY(180deg);
}

@keyframes card-levitate {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(9px) rotate(1deg);
  }
  50% {
    transform: translateY(0) rotate(0deg);
  }
  75% {
    transform: translateY(-9px) rotate(-1deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
@keyframes leaf-levitate {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(14px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-14px);
  }
  100% {
    transform: translateY(0);
  }
}

#result {
  background: rgba(196, 154, 108, 0.1);
  width: 100vw;
  height: 100vh;
  display: flex;
  .s40 {
    opacity: 0;
    align-self: center;
    padding: 5%;
    width: 40%;
    transform: translateY(30px);
    svg {
      overflow: unset;
      #Card {
        animation: card-levitate 13s linear infinite;
      }
      #left_stick {
        animation: leaf-levitate 17s linear infinite;
      }
      #right_stick {
        animation: leaf-levitate 19s linear infinite;
      }
    }
  }
  .s60 {
    align-self: center;
    padding: 5%;
    width: 60%;
    p {
      font-size: 1.2em;
      text-align: center;
      color: #a97c50;
    }
  }
}

.take-photo {
  margin-top: 1em;
}

#preshop {
  overflow: hidden;
  img {
    height: 100vh;
    transform: translateX(-20%);
    opacity: 0;
  }
  .columns {
    display: flex;
  }
  .image-container {
    // position: absolute;
    // z-index: -3;
    width: 60vw;
    height: 100vh;
    overflow: hidden;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    background: rgba(196, 154, 108, 0.1);
    p {
      font-size: 1.3em;
    }
  }
  .loading {
    position: absolute;
    z-index: 3;
    left: 0;
    bottom: 0;
    width: 60vw;
    height: 100vh;
    top: 50%;
    // height: 100vh;
  }
  .btn {
    margin-top: 2em;
    width: 12rem;
    &:hover {
      background: $font-color;
      color: white;
    }
  }
}

#contract2 {
  height: 100vh;
  overflow-y: auto;
  font-family: "LibreBaskerville";
  font-size: 1.3rem;
  background: $base-color;
  h1 {
    font-size: 3.5em;
    margin-bottom: 0;
  }
  input,
  textarea {
    text-align: left;
    padding-left: 1em;
  }
  input[type="submit"] {
    text-align: center;
  }
  .wrapper {
    padding-top: 2%;
    padding-bottom: 2%;
    height: 17vh;
    width: 100%;
    background: rgba(197, 158, 110, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    div {
      padding: 1rem 2rem 0 2rem;
      width: 40%;
    }
  }
}

#wait-shop {
  padding: 0 2% 0 2%;

  .goods {
    display: flex;
    flex-wrap: wrap;
    .good {
      cursor: pointer;
      flex: 1 0 42vw; /* explanation below */
      margin-bottom: 1em;
      padding: 1em 1em 0 1em;
      transition: 0.4s;
      &:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      }
      p {
        text-align: left;
        margin-top: 0.5em;
      }
      img {
        width: 100%;
      }
    }
  }
}
#shop {
  padding: 0 2% 0 2%;
  a{
    color: $font-color;
  }
  .mini-nav {
    padding: 0 10% 0 10%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
    transition: 1s;
    .sec {
      transition: 0.5s;
      cursor: pointer;
      padding: 0.5em;
      border-bottom: 4px transparent solid;
    }
    .active {
      border-bottom: 4px rgba(197, 158, 110, 0.6) solid;
    }
  }
  .allset {
    margin-bottom: 2em;
    p,
    h1 {
      text-align: left;
      margin-top: 0.5em;
    }
    h1 {
      margin-bottom: 0;
    }
    img {
      width: 100%;
    }
  }
  .hoverable {
    cursor: pointer;
    transition: 0.4s;
    &:hover {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }
  .goods {
    display: flex;
    flex-wrap: wrap;
    .good {
      flex: 1 0 42vw; /* explanation below */
      margin-bottom: 1em;
      padding: 1em 1em 0 1em;
      // padding: 0 1em 0 1em;
      p {
        text-align: left;
        margin-top: 0.5em;
      }
      img {
        width: 100%;
      }
    }
  }
}

#inside_book{
  overflow-y: auto;
  height: 100vh;
  padding: 0 2% 0 2%;
  background: rgba(196, 154, 108, .26);
  // height: 100vh;
  h1{
    width: 100vw;
  }
  .goods {
    display: flex;
    flex-wrap: wrap;
    .good {
      flex: 1 0 30vw; /* explanation below */
      margin-bottom: 1em;
      // padding: 1em 1em 0 1em;
      // padding: 0 1em 0 1em;
      p {
        text-align: left;
        margin-top: 0.5em;
      }
      img {
        width: 100%;
      }
    }
  }
}